/* Стили для элемента с классом "burger" */

.burger {
  /* Установка модели размера "border-box", чтобы ширина и высота включали границы и отступы */
  box-sizing: border-box;

  /* Установка ширины элемента в 100% ширины его родителя */
  width: 100%;

  /* Отображение элементов внутри блока в виде строки с выравниванием по центру */
  display: flex;
  align-items: center;

  /* Установка промежутка между дочерними элементами в 8 пикселей */
  gap: 8px;
}

/* Стили для элемента с классом "element" */

.element {
  /* Установка ширины элемента в 100% ширины его родителя */
  width: 100%;
}

/* Стили для элементов с классами "icon_visible" и "icon_hidden" */

.icon_visible {
  /* Установка видимости элемента */
  visibility: visible;

  /* Установка курсора мыши в виде стрелки, указывающей на возможность перемещения элемента */
  cursor: move;
}

.icon_hidden {
  /* Установка невидимости элемента */
  visibility: hidden;
}
