/* Стили для оверлея */
.overlay {
	z-index: 2000;
	
  /* Фиксированное позиционирование, чтобы оверлей занимал весь экран */
  position: fixed;

  /* Отступ от верхнего края экрана */
  top: 0;

  /* Отступ от левого края экрана */
  left: 0;

  /* Ширина оверлея равна 100% ширины экрана */
  width: 100%;

  /* Высота оверлея равна 100% высоты экрана */
  height: 100%;

  /* Цвет фона: черный с прозрачностью 60% */
  background: rgb(0 0 0 / 60%);

  /* Изменение формы курсора при наведении на оверлей */
  cursor: pointer;
}
