/* Определение стилей для контейнера */
.container {
  display: flex;
  flex-direction: column; /* Определение направления основной оси: вертикальное */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
  justify-content: center; /* Выравнивание элементов по центру по вертикали */
  width: 100%; /* Ширина контейнера на 100% от родительского элемента */
}

/* Определение стилей для формы */
.form {
  display: flex;
  flex-direction: column; /* Определение направления основной оси: вертикальное */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
  row-gap: calc(var(--offset-base-size) * 6); /* Промежуток между строками (только для flex-контейнеров) */
  max-width: 480px; /* Максимальная ширина формы */
}

/* Определение стилей для действий (например, кнопок) */
.actions {
  margin-top: 88px; /* Верхний отступ от контейнера действий */
  max-width: 100%; /* Максимальная ширина контейнера действий */
  display: flex;
  flex-direction: column; /* Определение направления основной оси: вертикальное */
  gap: calc(var(--offset-base-size) * 4); /* Промежуток между дочерними элементами (только для flex-контейнеров) */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
}

/* Определение стилей для ссылки внутри контейнера действий */
.actions__link {
  color: var(--colors-interface-accent); /* Цвет текста ссылки */
  text-decoration: none; /* Убрать подчеркивание у ссылки */
}
