/* Определение стилей для контейнера */
.container {
  position: absolute; /* Позиционирование абсолютно */
  top: 0; /* Отступ сверху равен 0 */
  left: 0; /* Отступ слева равен 0 */
  z-index: 100; /* Индекс z для управления слоями */
  width: 100%; /* Ширина 100% от родительского контейнера */
  height: 100%; /* Высота 100% от родительского контейнера */
  background: var(--background-alt); /* Использование переменной для фона */
  display: flex; /* Использование flexbox для центрирования по центру */
  justify-content: center; /* Выравнивание по горизонтали по центру */
  align-items: center; /* Выравнивание по вертикали по центру */
}

/* Определение стилей для загрузочного элемента */
.loader {
  width: 64px; /* Ширина 64 пикселя */
  height: 64px; /* Высота 64 пикселя */
  border: 4px solid #909090; /* Внешняя граница с толщиной 4 пикселя и цветом #909090 */
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2); /* Тень для эффекта поднятости */
  border-top: 4px solid #f9f9f9; /* Верхняя граница с толщиной 4 пикселя и светлым цветом #f9f9f9 */
  border-radius: 50%; /* Скругление углов для создания круглой формы */
  animation: rotate 1.5s linear infinite; /* Применение анимации с вращением */
}

/* Определение ключевых кадров для анимации вращения */
@keyframes rotate {
  from {
    transform: rotate(0); /* Начальное положение вращения (0 градусов) */
  }
  to {
    transform: rotate(360deg); /* Конечное положение вращения (360 градусов) */
  }
}
