/* Стили для контейнера */
.container {
  position: relative;
  background-color: #131316; /* Цвет фона */
  width: 64px;
  height: 64px;
  border-radius: 50%; /* Круглая форма */
  border: 3px solid #801ab2; /* Толщина и цвет границы */
  overflow: hidden; /* Скрытие части изображения, выходящей за пределы контейнера */
}

/* Стили для изображения внутри контейнера */
.image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Масштабирование изображения с сохранением пропорций */
  transform: scale(1.5); /* Увеличение размера изображения */
  transition: var(--common-transition); /* Плавный эффект перехода */
}

/* Стили для затемненной версии изображения */
.image_black {
  filter: brightness(70%); /* Уменьшение яркости для затемненного эффекта */
}

/* Стили для текста внутри контейнера */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирование текста по горизонтали и вертикали */
}

/* Добавление символа '+' перед текстом */
.text::before {
  content: '+';
}
