/* Общий контейнер */
.container {
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в колонку */
  flex-direction: column; /* Организуем элементы в колонку */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
  justify-content: center; /* Выравнивание элементов по центру по вертикали */
  width: 100%; /* Ширина контейнера на 100% ширины родительского элемента */
}

/* Форма */
.form {
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в колонку */
  flex-direction: column; /* Организуем элементы в колонку */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
  row-gap: calc(var(--offset-base-size) * 6); /* Расстояние между строками в форме */
  max-width: 480px; /* Максимальная ширина формы */
}

/* Элементы действий (кнопки, ссылки и т. д.) */
.actions {
  margin-top: 80px; /* Верхний отступ для элементов действий */
  max-width: 480px; /* Максимальная ширина блока действий */
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в колонку */
  flex-direction: column; /* Организуем элементы в колонку */
  row-gap: calc(var(--offset-base-size) * 4); /* Расстояние между строками в блоке действий */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
}

/* Ссылка в блоке действий */
.actions__link {
  color: var(--colors-interface-accent); /* Цвет текста ссылки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}
