/* Основной контейнер */
.container {
  display: flex;
  flex-direction: column; /* Определяем направление главной оси */
  align-items: center; /* Выравниваем элементы по центру по поперечной оси */
  justify-content: center; /* Выравниваем элементы по центру по главной оси */
  width: 100%; /* Занимаем 100% ширины родительского контейнера */
}

/* Форма */
.form {
  display: flex;
  flex-direction: column; /* Определяем направление главной оси формы */
  align-items: center; /* Выравниваем элементы формы по центру по поперечной оси */
  row-gap: calc(var(--offset-base-size) * 6); /* Устанавливаем вертикальный отступ между элементами формы */
  max-width: 480px; /* Ограничиваем максимальную ширину формы */
}

/* Действия (например, кнопки) */
.actions {
  margin-top: 80px; /* Устанавливаем верхний отступ для действий */
  max-width: 480px; /* Ограничиваем максимальную ширину блока действий */
  display: flex;
  flex-direction: column; /* Определяем направление главной оси блока действий */
  row-gap: calc(var(--offset-base-size) * 4); /* Устанавливаем вертикальный отступ между действиями */
  align-items: center; /* Выравниваем элементы блока действий по центру по поперечной оси */
}

/* Ссылки в блоке действий */
.actions__link {
  color: var(--colors-interface-accent); /* Устанавливаем цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}
