/* Стили для элемента с классом "container" */

.container {
  /* Отображение элементов внутри блока в виде строки с выравниванием содержимого по концу (справа) и выравниванием по центру по вертикали */
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* Установка промежутка между дочерними элементами в 40 пикселей */
  gap: calc(var(--offset-base-size)  * 10);
}

/* Стили для элемента с классом "price" */

.price {
  /* Отображение элементов внутри блока в виде строки с выравниванием содержимого по центру и выравниванием по центру по вертикали */
  display: flex;
  align-items: center;

  /* Установка промежутка между дочерними элементами в 8 пикселей */
  gap: calc(var(--offset-base-size)  * 2);
}

/* Стили для дочерних элементов <svg>, находящихся внутри элемента с классом "price" */

.price svg {
  /* Установка ширины и высоты для элемента <svg> в 36 пикселей */
  width: 36px;
  height: 36px;
}
