/* Стили для списка с классом "burgerList" */

.burgerList {
  flex-grow: 1;

  /* Установка максимальной высоты второго списка с учетом высоты различных элементов */
  max-height: calc(100vh - 88px - 80px - 20px * 2 - 40px - var(--offset-base-size) * 10 - 64px);

  /* Установка отступа слева в 0, чтобы убрать маркеры списка */
  padding-left: 0;
  margin-bottom: 0;

  /* Установка стиля маркеров списка в виде пустых кружков */
  list-style: none;

  /* Установка отступа сверху списка в 0 */
  margin-top: 0;

  /* Установка отображения элементов списка в столбцовом направлении */
  display: flex;
  flex-direction: column;

  /* Установка промежутка между элементами списка */
  gap: calc(var(--offset-base-size) * 4);
}

/* Стили для второго списка с классом "ingredientsList" */

.ingredientsList {
  box-sizing: border-box;
  flex-grow: 1;

	scroll-padding-right: 20px;

  /* Установка стиля маркеров списка в виде пустых кружков */
  list-style: none;

  /* Установка отступа и маржи второго списка в 0 */
  padding-left: 0;
  margin: 0;

  /* Установка отображения элементов второго списка в столбцовом направлении */
  display: flex;
  flex-direction: column;

  /* Установка промежутка между элементами второго списка */
  gap: calc(var(--offset-base-size) * 4);

  /* Включение вертикальной прокрутки для случая, когда элементов списка больше, чем помещается на экране */
  overflow-y: auto;
}
