/* Стили для формы */
.form {
  display: flex; /* Используем flex-контейнер для управления расположением элементов */
  flex-direction: column; /* Определяем направление главной оси flex-контейнера - колонка */
  gap: calc(var(--offset-base-size)  * 6);; /* Отступ между дочерними элементами формы */
}

/* Стили для контейнера с кнопками */
.buttons_container {
  display: flex; /* Используем flex-контейнер для управления расположением кнопок */
  justify-content: flex-end; /* Выравниваем кнопки по концу (правому краю) контейнера */
  gap: calc(var(--offset-base-size)  * 5);; /* Отступ между кнопками */
}
