/* Стили для контейнера вкладок */
.tabs {
  width: 100%; /* Ширина контейнера - 100% экрана */
  display: grid; /* Использование сетки для размещения вкладок */
  grid-template-columns: repeat(3, 1fr); /* Создание трех колонок с равным размером */
}
