/* Устанавливаем ширину блока .row на 100% */
.row {
  width: 100%;
}

/* Стилизация списка .list */
.list {
  padding: 0; /* Обнуляем внутренний отступ списка */
  margin-bottom: 0; /* Обнуляем отступ снизу списка */
  list-style: none; /* Убираем маркеры списка */
  display: grid; /* Используем сетку для расположения элементов списка */
  grid-template-columns: repeat(2, 1fr); /* Делаем две колонки с равной шириной */
  gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 6); /* Устанавливаем промежуток между элементами с использованием переменных для расчета */
}
