.container {
	align-self: center;
	
  /* Установка позиции элемента как относительной, что позволяет использовать позиционирование потомков относительно данного элемента */
  position: relative;

  /* Установка модели размера "border-box", чтобы ширина и высота включали границы и отступы */
  box-sizing: border-box;

  /* Установка ширины элемента в 100% ширины его родителя */
  width: 100%;
}