/* Стили для контейнера */
.container {
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в ряд */
  gap: calc(var(--offset-base-size) * 15); /* Расстояние между элементами в контейнере */
  align-self: center; /* Выравнивание контейнера по центру по вертикали */
  justify-self: center; /* Выравнивание контейнера по центру по горизонтали */
  width: 100%; /* Ширина контейнера на 100% ширины родительского элемента */
}

/* Стили для навигационного блока */
.navigation {
  flex-shrink: 0; /* Запрещаем сжатие навигационного блока при нехватке места */
  align-self: center; /* Выравнивание навигационного блока по центру по вертикали */
  width: 320px; /* Фиксированная ширина навигационного блока */
}

/* Стили для списка элементов */
.list {
  list-style: none; /* Убираем стандартные маркеры списка */
  padding: 0; /* Убираем внутренний отступ у списка */
  margin: 0; /* Убираем внешний отступ у списка */
  display: flex; /* Используем flex-контейнер для элементов списка */
  flex-direction: column; /* Организуем элементы списка в колонку */
}

/* Стили для ссылок в списке */
.link {
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в ряд */
  align-items: center; /* Выравнивание элементов списка по центру по вертикали */
  min-height: 64px; /* Минимальная высота элемента списка */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  transition: var(--common-transition);
}

/* При наведении на ссылку */
.link:hover {
  opacity: 0.8; /* Увеличиваем прозрачность при наведении */
}

/* При активации ссылки (нажатие) */
.link:active {
  color: var(--text-primary-color);; /* Изменяем цвет текста при активации ссылки */
}

/* Стили для текстового блока */
.text {
  margin-top: 88px; /* Верхний отступ текстового блока */
}
