/* Стили для контейнера */
.container {
  /* Устанавливаем нижний внешний отступ и отступ снизу внутри контейнера на ноль */
  margin-bottom: 0;
  padding-bottom: 0;
  /* Устанавливаем отступ слева внутри контейнера на ноль */
  padding-left: 0;
  /* Устанавливаем максимальную высоту контейнера с учетом высоты шапки (88px), двух отступов по 40px,
     высоты подвала (60px) и еще дополнительных 106px */
  max-height: calc(100vh - 88px - 40px * 2 - 60px - 106px);
  /* Устанавливаем отображение дочерних элементов контейнера в столбцовом порядке */
  display: flex;
  flex-direction: column;
  /* Устанавливаем расстояние между дочерними элементами, используя переменную --offset-base-size */
  gap: calc(var(--offset-base-size) * 8);
  /* Устанавливаем стиль маркера списка на "нет" */
  list-style: none;
  /* Разрешаем вертикальную прокрутку в случае переполнения контейнера */
  overflow-y: auto;
  /* Устанавливаем толщину скроллбара на тонкую */
  scrollbar-width: thin;
  /* Устанавливаем цвет скроллбара на прозрачный */
  scrollbar-color: transparent transparent;
  /* Запрещаем горизонтальную прокрутку контейнера */
  overflow-x: hidden;
}
