/* Общий контейнер, занимающий 100% ширины страницы и центрирующий содержимое */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер для информации, шириной 720px, располагающий элементы в колонку и центрирующий их */
.info {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стиль для изображения с высотой 120px и отображением блочным элементом */
.img {
  display: block;
  height: 120px;
}

/* Стиль для номера с текстом по центру и тенью текста, создающей эффект подсветки */
.number {
  text-align: center;
  text-shadow:
    0 4px 32px rgb(51 51 255 / 50%), /* тень смещенная вниз для создания эффекта подсветки */
    0 0 8px rgb(51 51 255 / 25%), /* более мягкая тень без смещения */
    0 0 16px rgb(51 51 255 / 25%); /* более размытая тень без смещения */
}
