/* Стили для блока с классом "app" */
.app {
  min-height: 100vh; /* Устанавливаем минимальную высоту блока "app" равной 100% высоты видимой области экрана */
}

.main {
  width: 100%; /* Задаем ширину блока "main" в 100% для заполнения всей доступной ширины */
}

.container {
  box-sizing: border-box; /* Устанавливаем box-sizing в border-box для корректного учета padding и border в расчетах размеров */
  padding-top: 88px; /* Добавляем верхний отступ в 88 пикселей для контейнера */
  margin: 0 auto; /* Устанавливаем автоматические боковые отступы для центрирования контейнера */
  max-width: 1240px; /* Устанавливаем максимальную ширину контейнера в 1240 пикселей */
  min-height: 100vh; /* Устанавливаем минимальную высоту контейнера равной 100% высоты видимой области экрана */
  display: flex; /* Используем flexbox для управления распределением элементов в контейнере */
  align-items: stretch; /* Растягиваем дочерние элементы по высоте контейнера */
}
