/* Объявление стилей для контейнера */
.container {
  /* Высота контейнера будет автоматически подстраиваться под его содержимое */
  height: min-content;

  /* Использование flex-контейнера для управления расположением дочерних элементов */
  display: flex;

  /* Расстояние между дочерними элементами внутри контейнера составит 40 пикселей */
  gap: calc(var(--offset-base-size) * 10);

  /* Ширина контейнера будет занимать 100% ширины родительского элемента */
  width: 100%;
}
