/* Стили для класса .price */

/* Используем Flexbox для управления расположением элементов внутри блока */
.price {
  display: flex;

  /* Выравниваем элементы по центру по вертикали */
  align-items: center;

  /* Устанавливаем промежуток между элементами с использованием вычисляемой функции calc() */
  gap: calc(var(--offset-base-size) * 2);
}
