/* Стили для ингредиента */
.ingredient {
  min-height: 208px; /* Минимальная высота ингредиента */
  position: relative; /* Позиционирование относительно родителя */
  display: flex; /* Использование flex-контейнера */
  flex-direction: column; /* Определение направления главной оси (колонки) */
  row-gap: var(--offset-base-size); /* Расстояние между строками (зависит от переменной) */
  justify-content: center; /* Выравнивание контента по центру по вертикали */
  text-align: center; /* Выравнивание текста по центру */
  transition: var(--common-transition); /* Плавное изменение свойств с использованием переменной */
}

/* Стили для перетаскиваемого ингредиента */
.ingredient_draggable {
  cursor: pointer; /* Изменение курсора при наведении (указывает на возможность перетаскивания) */
}

/* Стили для отображения иконок при наведении на ингредиент */
.ingredient:hover .icons {
  opacity: 1; /* Появление иконок при наведении на ингредиент */
}

/* Стили для увеличения изображения при наведении (если изображение не является перетаскиваемым) */
.ingredient:hover .image:not(.image_draggable) {
  transform: scale(1.1); /* Увеличение изображения при наведении (не применяется к перетаскиваемым изображениям) */
}

/* Общие стили для изображения */
.image {
  display: block; /* Отображение как блочный элемент */
  overflow: hidden; /* Обрезка содержимого, выходящего за пределы блока */
  object-fit: contain; /* Масштабирование изображения с сохранением пропорций внутри блока */
  height: 120px; /* Фиксированная высота изображения */
  flex-grow: 0; /* Запрет увеличения размера блока внутри flex-контейнера */
  flex-shrink: 0; /* Запрет уменьшения размера блока внутри flex-контейнера */
  transition: var(--common-transition); /* Плавное изменение свойств с использованием переменной */
}

/* Стили для перетаскиваемого изображения */
.image_draggable {
  filter: grayscale(100%); /* Преобразование изображения в черно-белый цвет при перетаскивании */
}

/* Стили для цены */
.price {
  flex-grow: 0; /* Запрет увеличения размера блока внутри flex-контейнера */
  flex-shrink: 0; /* Запрет уменьшения размера блока внутри flex-контейнера */
  display: flex; /* Использование flex-контейнера */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  justify-content: center; /* Выравнивание контента по центру по горизонтали */
  gap: calc(var(--offset-base-size) * 2); /* Расстояние между элементами (зависит от переменной) */
}

/* Стили для описания */
.description {
  flex-grow: 1; /* Разрешение увеличения размера блока внутри flex-контейнера */
  flex-shrink: 0; /* Запрет уменьшения размера блока внутри flex-контейнера */
}

/* Стили для иконок */
.icons {
  position: absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного родителя */
  top: 0; /* Расположение относительно верхней границы родителя */
  left: 0; /* Расположение относительно левой границы родителя */
  display: flex; /* Использование flex-контейнера */
  gap: calc(var(--offset-base-size) / 2); /* Расстояние между элементами (зависит от переменной) */
  opacity: 0; /* Начальная непрозрачность */
  transform: translateY(-50%); /* Смещение по вертикали на 50% высоты элемента */
  transition: opacity 0.3s ease-in-out; /* Плавное изменение свойства непрозрачности */
}

/* Стили для иконки */
.icon {
  width: 32px; /* Фиксированная ширина иконки */
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)) drop-shadow(-2px 2px 4px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 12px rgb(51 51 255/100%)) hue-rotate(25deg); /* Несколько эффектов тени и цветового изменения для иконки */
}
