/* Определение стилей для контейнера */
.container {
  /* Задание ширины контейнера на 100% от родительского элемента */
  width: 100%;
}

.information {
  /* Использование flex-контейнера для распределения элементов в строку */
  display: flex;

  /* Задание промежутка (расстояния) между элементами внутри контейнера */
  gap: calc(var(--offset-base-size) * 8);
}
