/* Общий контейнер, занимающий всю доступную ширину */
.container {
  flex: 1;
}

/* Список с нулевым отступом слева и нулевым отступом снизу */
.list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: grid;
  justify-content: space-between; /* Равномерное распределение пространства между элементами */
  row-gap: calc(var(--offset-base-size) * 2); /* Зазор между строками, рассчитанный относительно базового размера отступа */
  grid-template-columns: repeat(2, 50%); /* Два столбца с равной шириной в 50% от доступной ширины */
}
