/* Общий контейнер */
.container {
  flex-grow: 1; /* Растягиваем контейнер, чтобы занять доступное пространство */
  display: flex; /* Используем flex-контейнер для управления распределением элементов */
  flex-direction: column; /* Устанавливаем направление основной оси в вертикальное положение */
  align-items: center; /* Выравниваем элементы по центру по горизонтали */
  justify-content: center; /* Выравниваем элементы по центру по вертикали */
  gap: calc(
    var(--offset-base-size) * 4
  ); /* Задаем промежуток между элементами, основываясь на пользовательской переменной */
}

/* Логотип */
.logo {
  filter: sepia(1); /* Применяем эффект сепии к логотипу */
  opacity: 0.4; /* Устанавливаем прозрачность логотипа на 40% */
}

.logo svg {
  display: block; /* Устанавливаем свойство display: block для элементов svg внутри логотипа */
}

/* Сообщение */
.message {
  text-align: center; /* Центрируем текст внутри блока сообщения */
}
