/* Стили для модального окна */
.modal {
  overflow: hidden; /* Запрет прокрутки внутри модального окна */
  min-height: 400px; /* Минимальная высота модального окна */
  min-width: 500px; /* Минимальная ширина модального окна */
  z-index: 9999; /* Высокий уровень z-index для уверенности в отображении поверх остальных элементов */
  position: fixed; /* Фиксированная позиция окна на экране */
  left: 50%; /* Расположение по горизонтали в центре экрана */
  top: 50%; /* Расположение по вертикали в центре экрана */
  transform: translate(-50%, -50%); /* Центрирование относительно центра экрана */
  border-radius: var(--common-border-radius-s); /* Задание скругленных углов с использованием переменной */
  border: 1px solid #4c4cff33; /* Тонкая граница с цветом в формате RGBA */
  background: var(--background); /* Задание фона с использованием переменной */
  box-shadow:
    0 0 1px 0 rgb(0 0 0 / 4%), /* Тень с использованием теневых эффектов */
    0 4px 8px 0 rgb(0 0 0 / 4%),
    0 16px 24px 0 rgb(0 0 0 / 4%),
    0 24px 32px 0 rgb(0 0 0 / 4%);
}
