/* Стили для элемента с классом "header" */

.header {
  /* Установка ширины элемента в 100% ширины его родителя */
  width: 100%;

  /* Фиксированное позиционирование элемента вверху экрана */
  position: fixed;
  top: 0;
  left: 0;

  /* Установка порядка отображения элемента по отношению к другим элементам на странице */
  z-index: 1000;

  /* Установка цвета фона элемента */
  background: var(--background);

  /* Добавление теней для создания эффекта поднятия элемента над остальными */
  box-shadow:
    0 0 1px 0 #0000000a,
    0 4px 8px 0 #0000000a,
    0 16px 24px 0 #0000000a,
    0 24px 32px 0 #0000000a;
}

/* Стили для элемента с классом "nav" */

.nav {
  /* Относительное позиционирование элемента */
  position: relative;

  /* Установка максимальной ширины элемента */
  max-width: 1280px;

  /* Установка минимальной ширины элемента */
  min-width: 1128px;

  /* Центрирование элемента по горизонтали */
  margin: 0 auto;

  /* Отображение элементов внутри блока в виде строки с выравниванием по краям и по центру по вертикали */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стили для элемента списка с классом "list" */

.list {
  /* Установка стиля маркеров списка в виде пустых кружков */
  list-style-type: none;

  /* Установка отступа и маржи списка в 0 */
  margin: 0;
  padding: 0;

  /* Отображение элементов списка в виде строки с выравниванием элементов по вертикали */
  display: flex;
  align-items: stretch;

  /* Установка промежутка между элементами списка */
  gap: calc(var(--offset-base-size) * 2);
}

/* Стили для элемента ссылки с классом "link" */

.link {
  /* Установка стиля текста без подчеркивания */
  text-decoration: none;

  /* Отображение элементов ссылки в виде строки с выравниванием по центру и промежутком между элементами */
  display: flex;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);

  /* Установка скругленных углов для создания эффекта закругленных краев */
  border-radius: var(--common-border-radius-s);

  /* Установка цвета фона и цвета текста */
  background: var(--background);

  /* Плавное изменение цвета и всех свойств элемента при изменении состояния */
  transition: var(--common-transition);
}

/* Стили для изображения внутри элемента ссылки с классом "link" */

.link svg {
  /* Плавное изменение цвета и всех свойств элемента при изменении состояния */
  transition: var(--common-transition);
}

.link span {
  padding-top: 3px;
  line-height: 1;
}

/* Стили для активной ссылки с классом "link_active" */

.link_active {
  /* Изменение цвета текста для активной ссылки */
  color: var(--text-primary-color);
}

/* Стили для изображения внутри активной ссылки с классом "link_active" */

.link_active svg {
  /* Изменение цвета заливки для изображения внутри активной ссылки */
  fill: var(--text-primary-color);
}

/* Стили для состояния наведения на ссылку */

.link:hover {
  /* Изменение цвета текста и добавление тени при наведении на ссылку */
  color: var(--text-primary-color);
  box-shadow: 0 0 4px 0 #ffffff40;
}

/* Стили для изображения внутри ссылки при наведении */

.link:hover svg {
  /* Изменение цвета заливки для изображения внутри ссылки при наведении */
  fill: var(--text-primary-color);
}

/* Стили для элемента с классом "logo" */

.logo {
  /* Абсолютное позиционирование элемента в середине по горизонтали */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Стили для изображения внутри элемента с классом "logo" */

.logo svg {
  /* Установка стиля блочного отображения для изображения внутри элемента с классом "logo" */
  display: block;
}
