/* Общий контейнер */
.container {
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в колонку */
  flex-direction: column; /* Организуем элементы в контейнере в колонку */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  justify-content: center; /* Выравнивание элементов по центру по горизонтали */
  width: 100%; /* Ширина контейнера на 100% ширины родительского элемента */
}

/* Форма ввода данных */
.form {
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в колонку */
  flex-direction: column; /* Организуем элементы формы в колонку */
  align-items: center; /* Выравнивание элементов формы по центру по вертикали */
  row-gap: calc(var(--offset-base-size) * 6); /* Расстояние между строками формы */
  max-width: 480px; /* Максимальная ширина формы */
}

/* Элементы действий (кнопки, ссылки и т. д.) */
.actions {
  margin-top: 80px; /* Верхний отступ элементов действий */
  max-width: 480px; /* Максимальная ширина элементов действий */
  display: flex; /* Используем flex-контейнер для организации дочерних элементов в колонку */
  flex-direction: column; /* Организуем элементы действий в колонку */
  row-gap: calc(var(--offset-base-size) * 4); /* Расстояние между строками элементов действий */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
}

/* Ссылка внутри блока действий */
.actions__link {
  color: var(--colors-interface-accent); /* Цвет текста ссылки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}
