.container {
  /* Установка позиции элемента как относительной, что позволяет использовать позиционирование потомков относительно данного элемента */
  position: relative;

  /* Установка модели размера "border-box", чтобы ширина и высота включали границы и отступы */
  box-sizing: border-box;

  /* Установка ширины элемента в 100% ширины его родителя */
  width: 100%;

  /* Использование flex-контейнера с направлением колонки и промежутком между элементами, вычисленным с использованием пользовательской переменной --offset-base-size */
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 15);
}

.line {
  /* Использование flex-контейнера для расположения элементов в строке с промежутком между элементами, вычисленным с использованием пользовательской переменной --offset-base-size */
  display: flex;
  gap: calc(var(--offset-base-size) * 9);
}

.block {
  /* Использование flex-элемента с расширяемой долей по оси, на которую ориентирован контейнер (вертикальной в случае column) */
  flex: 1;
}

.list {
  /* Сброс отступа и маргина, отключение маркера списка и использование сетки для распределения элементов */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: grid;
  justify-content: space-between;
  row-gap: calc(var(--offset-base-size) * 2);
  grid-template-columns: repeat(2, 50%);
}

.text_shadow {
  /* Создание текстовой тени с несколькими слоями, чтобы добавить эффект тени текста */
  text-shadow:
    0px 4px 32px #3333ff80,
    0px 0px 8px #3333ff40,
    0px 0px 16px #3333ff40;
}
