.container {
  /* Установка позиции элемента как относительной, что позволяет использовать позиционирование потомков относительно данного элемента */
  position: relative;

  /* Установка модели размера "border-box", чтобы ширина и высота включали границы и отступы */
  box-sizing: border-box;

  /* Установка ширины элемента в 100% ширины его родителя */
  width: 100%;
}

.list {
	margin-top: 0;
	margin-bottom: 0;
	
  /* Установка отступа слева в 0, чтобы убрать стандартный отступ у списка */
  padding-left: 0;

  /* Установка максимальной высоты списка, рассчитанной относительно высоты видимого экрана и других элементов интерфейса */
  max-height: calc(100vh - 88px - 40px - 40px - 40px - 20px);

  /* Отображение элементов списка в столбец с использованием flex-контейнера */
  display: flex;
  flex-direction: column;

  /* Установка промежутка между элементами списка с использованием кастомного свойства --offset-base-size */
  gap: calc(var(--offset-base-size) * 8);

  /* Убираем маркеры списка, делая его ненумерованным */
  list-style: none;

  /* Включение вертикальной прокрутки в случае, если элементы списка не помещаются по вертикали */
  overflow-y: auto;
}
