/* Общий контейнер */
.container {
  display: flex; /* Используем flex-контейнер для расположения дочерних элементов */
  gap: calc(var(--offset-base-size)  * 15); /* Расстояние между дочерними элементами */
  align-self: center; /* Выравнивание по центру по вертикали */
  justify-self: center; /* Выравнивание по центру по горизонтали */
  width: 100%; /* Ширина контейнера на 100% от родительского контейнера */
}

/* Изображение */
.image {
  width: 500px; /* Фиксированная ширина изображения */
}

/* Информационный блок */
.info {
	align-self: center; /* Выравнивание по центру по вертикали */
  display: flex; /* Используем flex-контейнер для расположения дочерних элементов */
  flex-direction: column; /* Располагаем дочерние элементы в столбец */
  gap: calc(var(--offset-base-size)  * 8); /* Расстояние между дочерними элементами */
}

/* Блок текстовой информации */
.texts {
  display: flex; /* Используем flex-контейнер для расположения дочерних элементов */
  flex-direction: column; /* Располагаем дочерние элементы в столбец */
  gap: calc(var(--offset-base-size)  * 4); /* Расстояние между дочерними элементами */
}

/* Текст */
.text {
	margin: 0; /* Убираем внешние отступы текста */
}

/* Заголовок */
.title {
  color: white; /* Устанавливаем цвет текста заголовка */
}

/* Ссылка */
.link {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  transition: var(--common-transition)
}

/* При наведении на ссылку */
.link:hover {
  opacity: 0.8; /* Уменьшаем прозрачность при наведении на ссылку */
}

/* При активации ссылки */
.link:active {
  color: var(--text-primary-color); /* Устанавливаем цвет текста ссылки при активации */
}
